BR2_arm=y
BR2_cortex_a7=y
BR2_ARM_FPU_NEON_VFPV4=y
BR2_OPTIMIZE_3=y
BR2_SSP_STRONG=y
BR2_SHARED_STATIC_LIBS=y
BR2_TOOLCHAIN_BUILDROOT_VENDOR="rockchip"
BR2_KERNEL_HEADERS_3_10=y
BR2_TOOLCHAIN_BUILDROOT_INET_RPC=y
BR2_TOOLCHAIN_BUILDROOT_LOCALE=y
BR2_PTHREAD_DEBUG=y
BR2_TOOLCHAIN_BUILDROOT_USE_SSP=y
# BR2_UCLIBC_INSTALL_UTILS is not set
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_GCC_ENABLE_LTO=y
BR2_TARGET_OPTIMIZATION="-g -O2 -fstack-protector-strong"
BR2_TARGET_LDFLAGS="-Wl,-Bsymbolic-functions"
BR2_TARGET_GENERIC_HOSTNAME="rockchip"
BR2_TARGET_GENERIC_ISSUE="Welcome to Rockchip"
BR2_TARGET_GENERIC_PASSWD_SHA256=y
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_MDEV=y
BR2_TARGET_GENERIC_ROOT_PASSWD="$$5$$ytBQnHdG4P09Nju1$$Q/mb6vaZCT1ATC2RHOlrnSPcV15CWPmu749GbI563t2"
BR2_ROOTFS_OVERLAY="board/rockchip/rk1108/fs-overlay"
BR2_ROOTFS_POST_BUILD_SCRIPT="board/rockchip/rk1108/post-build.sh"
BR2_ROOTFS_POST_IMAGE_SCRIPT="board/rockchip/rk1108/post-image.sh"
BR2_ROOTFS_POST_SCRIPT_ARGS="$(BR2_LINUX_KERNEL_INTREE_DTS_NAME)"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_LOCAL=y
BR2_LINUX_KERNEL_CUSTOM_LOCAL_PATH="../kernel"
BR2_LINUX_KERNEL_DEFCONFIG="rk1108_defconfig"
BR2_LINUX_KERNEL_APPENDED_ZIMAGE=y
BR2_LINUX_KERNEL_LZO=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="rk1108-evb-v12"
BR2_PACKAGE_BUSYBOX_CONFIG="board/rockchip/rk1108/busybox.config"
BR2_TARGET_ROOTFS_SQUASHFS=y
# BR2_TARGET_ROOTFS_TAR is not set
